<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Agendar Contacto</title>
  <link rel="stylesheet" href="/css/agendarStyle.css">
</head>
<body>
  <div class="container">
    <h2>Agregar Contacto</h2>
    <form action="/agendar" method="POST">
      <div class="form-group">
        <label for="name">Nombre del contacto</label>
        <input type="text" name="name" id="name" placeholder="Ej: Juan Pérez" required>
      </div>

      <div class="form-group">
        <label for="cvu">CVU</label>
        <input type="text" name="cvu" id="cvu" placeholder="Ej: 0001234567890000000012" required>
      </div>
      <% if @error %>
        <div class="error-message"><%= @error %></div>
      <% end %>

      <div class="form-actions">
        <button type="submit">Guardar</button>
        <a href="/dashboard" class="btn-cancel">Cancelar</a>
      </div>
    </form>
  </div>
</body>
</html>
