<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Seleccionar Contacto</title>
  <link rel="stylesheet" href="/css/contactosStyle.css">
</head>
<body>
  <div class="login-container">
    <h2>Seleccionar contacto</h2>

    <div class="contact-list">
      <ul>
        <% @contactos.each do |c| %>
          <li class="contact-item">
            <strong><%= c.name %></strong><br>
            CVU: <code><%= c.cvu %></code><br>
            <button type="button" onclick="window.location.href='/transfer?cvu=<%= c.cvu %>'">Usar este contacto</button>
            <form action="/contactos/<%= c.id %>" method="POST" style="margin-top: 10px;" onsubmit="return confirm('¿Estás seguro de eliminar este contacto?');">
              <input type="hidden" name="_method" value="delete">
              <button type="submit" class="btn-eliminar">Eliminar contacto</button>
            </form>
          </li>
        <% end %>
      </ul>
    </div>

    <button class="btn-volver" type="button" onclick="window.location.href='/transfer'">Volver</button>
  </div>
</body>
</html>