<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Seleccionar Contacto</title>
  <link rel="stylesheet" href="/css/transferStyle.css">
  <style>
    .contact-list {
      max-height: 400px;
      overflow-y: auto;
      padding-right: 10px;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="login-container">
    <h2>Seleccionar contacto</h2>

    <div class="contact-list">
      <ul>
        <% @contactos.each do |c| %>
          <li style="margin-bottom: 20px;">
            <strong><%= c.name %></strong><br>
            CVU: <code><%= c.cvu %></code><br>
            <button type="button" onclick="window.location.href='/transfer?cvu=<%= c.cvu %>'">Usar este contacto</button>
          </li>
        <% end %>
      </ul>
    </div>

    <a href="/transfer">
      <button type="button">Volver</button>
    </a>
  </div>
</body>
</html>
