<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Crear cuenta</title>
  <link rel="stylesheet" href="/css/signupStyles.css">
</head>
<body>
  <div class="login-container">
    <h2>Crear cuenta</h2>

    <% if @error %>
      <p class="error"><%= @error %></p>
    <% end %>

    <form id="signup-form">
      <div>
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" placeholder="Tu nombre completo" required>
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="ejemplo@correo.com" required>
      </div>

      <div>
        <label for="phone">Teléfono:</label>
        <input type="text" name="phone" id="phone" placeholder="+54 35811111" required>
      </div>

      <div>
        <label for="account_type">Tipo de Cuenta:</label>
        <select name="account_type" id="account_type" class="styled-select" required>
          <option value="cuenta_corriente">Cuenta Corriente</option>
          <option value="cuenta_caja_ahorro">Caja Ahorro</option>
        </select>
      </div>

      <div>
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" placeholder="••••••••" required>
      </div>

      <div>
        <label for="password_confirmation">Confirmar contraseña:</label>
        <input type="password" name="password_confirmation" id="password_confirmation" placeholder="••••••••" required>
      </div>

      <button type="submit">Registrarse</button>
    </form>
  </div>

  <script src="/scripts/signup.js" defer></script>
</body>
</html>